
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* body */
.container{
    max-width: 1140px;
    margin: auto;
    background-color: #f5f8ff;
}

/* navbar section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.nav-items{
    display: flex;
    gap: 30px;
    list-style: none;
}
.nav-items li a{
    text-decoration: none;
    color: #8987A1;
}
#kalo{
    color: #252432;
    font-weight: bold;
}
#cart, i{
    color: #252432;
}


/* banner section */
.hero-section{
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
}
.banner{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   gap: 5px;
}
.banner-title{
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 0;
}
.orange{
    color: #E95A08;
}
.banner-p{
    color: #8987A1;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
}


/* plants section */
.plants{
    margin-top: 100px;
    
}
.our-plants{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
.plants-title{
    font-size: 50px;
    font-weight: bold;
    margin: 5px 0;
}

/* card section */
.plants-card-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 15px;
    row-gap: 30px;
}
.plants-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 8px 10px 10px gray;
}
.plants-card img{
    width: 270px;
    height: 322px;
}
#lily{
    margin-bottom: 0;
    font-weight: 600;
}
#price{
    margin-top: 10px;
}
.add-btn{
    font-weight: 600;
    background-color: #E95A08;
    color: white;
    padding: 15px 8px;
    border-style: none;
}


/* flower lover section */
.lover{
    margin-top: 250px;
    margin-bottom: 150px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 80px;
}

.join-img{
    position: relative;
    flex: 1;
}
.flower-store{
    width: 100%;
    height: 80%;
}
.badge{
    position: absolute;
    top: -120px;
    right: -35%;
    transform: translate(-30%);
    width: 300px;
}
#img1{
    filter: drop-shadow(-8px 8px 10px grey);
}

.text-list{
    display: flex;
    flex-direction: column;
}
.text-list ul{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}


/* challenge section */
challenge{
    margin-top: 300px;
}
.deal-text{
    text-align: center;
}
/* 
.deal-container{
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
}
.deal-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gradient{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5%;
    background: linear-gradient(rgba(0, 0, 0, 0.7));
}
.center-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-align: center;
    z-index: 1;
}
.center-text a{
    color: white;
} */

.row img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.row{
    height: 435px;
    display: flex;
    gap: 28px;
    margin-top: 100px;
}
.twins img{
    width: 367px;
    /* height: calc(( 100% - 20px)/2 ); */
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.bloom-container{
    position: relative;
    text-align: center;
    color: white;
}
.bloom-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}
.bloom-text h1{
    font-weight: bold;
    font-weight: 200px;
}
#sada{
    color: white;
    font-size: bolder;  
}